<title>Nestjs Prisma Template</title>
<meta http-equiv="Content-Type" content="text/html" charset="uft-8" />
<meta http-equiv="Content-Language" content="en-US" />
<style>
    @font-face {
        font-family: 'Calibri';
        src: url('/statics/fonts/Calibri.ttf') format('truetype');
    }
    body {
        font-family: 'Calibri', sans-serif;
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 5px;
    }

    p {
        margin: 0px;
    }
</style>